<a href="https://colab.research.google.com/github/NicolePereira19/DATA4auditors_IAEMetz/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction à Python

print("Hello World! IAE METZ for auditors")

Hello World! IAE METZ for auditors

# Simple Examples
Nous allons voir les bases de Python ensemble

In [ ]:
# On va définir des variables
prenom = "Nicole" # est du texte c'est donc un STRING
salaire_de_stage = 1700 # INTEGER c'est un ENTIER NATUREL
salaire_net = 1680.95 #FLOAT = chiffre à Virgule

In [ ]:
print(f"Je m'appelle {prenom} et je gagnerai {salaire_de_stage}")

Je m'appelle Nicole et je gagnerai 1700

In [ ]:
# ARITHMETIC +++
debit1  = 157000
debit2 = 1711
credit = 157000

In [ ]:
debit1+debit2

158711

In [ ]:
a = debit1
b = debit2

In [ ]:
debit1,debit2
print(f"SUM : {debit1+debit2}, DELTA : {a-b}, Produit : {a*b}, Division: {a/b} ")

SUM : 158711, DELTA : 155289, Produit : 268627000, Division: 91.75920514319111

In [ ]:
print(f"Division Integer: {a//b}")

Division Integer: 91

In [ ]:
# Liste
banks = ["BDL", "BGL", "BNP", "BIL"]
banks[2]

'BNP'

In [ ]:
# Dictionnaire
# Non-ordonné et paires-clé
valorisation = {"nom": "Nike", "actif" : 37 , "passif" : 34}

In [ ]:
print(f"la valorisation")

la valorisation['nom']

# Exemples pour les auditeurs

In [ ]:
# Cellule des variables
revenus = 100000
depenses = 75000

In [ ]:
# Cellule des calculs
benefice = revenus-depenses
print(benefice)
taux_imposition_francais = 0.25
taux_imposition_luxembourgeois = 0.17
taux_imposition_irelande = 0.125

25000

In [ ]:
# Cellule des calculs
benefice=revenus-depenses
impot_en_France=benefice*taux_imposition_francais

In [ ]:
# Cellule des checks/prints
print("Impot à payer en France", taux_imposition_francais * benefice, "€") #calcul en direct
print("Impot à payer en France", impot_en_France,"€" ) #calcul préparé en amont

Impot à payer en France 6250.0 €
Impot à payer en France 6250.0 €

In [ ]:
# Comparaison entre Irlande, Luxembourg
print("On compare au Luxembourg", taux_imposition_luxembourgeois * benefice, "€", "vs en Irlande", taux_imposition_irelande*benefice, "€")
impot_au_lux= taux_imposition_luxembourgeois*benefice
impot_en_Irlande=taux_imposition_irelande*benefice

On compare au Luxembourg 4250.0 € vs en Irlande 3125.0 €

In [ ]:
impot_en_France - (taux_imposition_luxembourgeois*benefice)
impot_en_France - impot_au_lux
benefice_net_francais=benefice-impot_en_France

# Structure de Contrôle

In [ ]:
# Conditions (if, elif, else)
if benefice_net_francais > 0:
  print("L'entreprise réalise un bénéfice net. Un bénéfince de", benefice_net_francais, "euros")

elif benefice_net_francais==0:
  print("L'entreprise est à l'équilibre")

else:
  print("L'entreprise réalise une perte nette")

L'entreprise réalise un bénéfice net. Un bénéfince de 18750.0 euros

# Importation des bibliothèques

## Les packages se différencient en 2 grandes catégories :
## 1. Ceux "outils" : contenant des fonctions
## 2. Ceux "de données" : contenant des données/ valeurs

In [1]:
# Le package d'outils le plus répondu en python est PANDAS (il y a aussi POLARS)
import pandas as pd

In [2]:
# Le package "données" le plus répendu en Python x FINANCE est ... YAHOO! FINANCE
import yfinance as yf

In [3]:
# BLOCK: IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les pacjages "outils" vous pouvez sous sélectionner les chapitre

In [4]:
# BLOCK : VARIABLES
#Pour une comparaison d'indices selon les pays
france_symbol = 'EWQ' # iShares MSCI France ETF
ireland_symbol = 'EWK' # iShares MSCI Ireland ETF
luxembourg_symbol = 'SPY' # S&P 500 son ETF

In [5]:
#BLOCK : TIME FRAME
start_date = '2010-01-01'
end_date = '2025-01-01'

In [10]:
# Téléchargement des données historique de YFINANCE pour chaque pays
france_data = yf.download(france_symbol, start=start_date, end=end_date)
irelande_data = yf.download(ireland_symbol, start=start_date, end=end_date)
lux_data= yf.download(luxembourg_symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787552  17.827419  17.641370  17.641370   97400
2010-01-05  17.741032  17.867278  17.674586  17.847345  164100
2010-01-06  17.834059  17.840703  17.687878  17.734390  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000174  18.006818  17.760968  17.787547  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [12]:
# BLOCK : ANALYSE DES DATAFRAMES
# IL y a des jours fériés donc il y a des valeurs nulles
france_data.isnull().sum()
# DATA_FRAME.FUNCTION_NAME()

Price   Ticker
Close   EWQ       0
High    EWQ       0
Low     EWQ       0
Open    EWQ       0
Volume  EWQ       0
dtype: int64

In [15]:
# Calcul des rdt quotidiens pour chacun des fonds
lux_return = lux_data.pct_change().dropna()
irelande_return = irelande_data.pct_change().dropna()
france_return = france_data.pct_change().dropna()

In [19]:
#calcul de la rentabilité cumulée des fonds sur une période
lux_cumulative_return = (1+lux_return).cumprod()-1
irelande_cumulative_return = (1+irelande_return).cumprod()-1
france_cumulative_return = (1+france_return).cumprod()-1

In [20]:
# BLOCK : GRAHIQUES
# présentation à des investisseurs des rdt vu à un DATAFRAME
print(lux_data.head())
print(irelande_data.head())
print(france_data.head())

Price           Close       High        Low       Open     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  86.026459  86.072002  84.644935  85.297743  118944600
2010-01-05  86.254211  86.292168  85.662130  85.973356  111579900
2010-01-06  86.314903  86.527445  86.102362  86.170676  116074400
2010-01-07  86.679237  86.785508  85.912566  86.155471  131091100
2010-01-08  86.967720  87.005676  86.276961  86.451546  126402800
Price          Close      High       Low      Open  Volume
Ticker           EWK       EWK       EWK       EWK     EWK
Date
2010-01-04  8.644099  8.729102  8.572174  8.572174  329400
2010-01-05  8.748721  8.781415  8.683334  8.729105  451600
2010-01-06  8.801026  8.801026  8.689869  8.689869   71800
2010-01-07  8.742180  8.761796  8.696409  8.742180   46000
2010-01-08  8.781411  8.801027  8.696409  8.696409  391700
Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787552  17.827419  17.641370  17.641370   97400
2010-01-05  17.741032  17.867278  17.674586  17.847345  164100
2010-01-06  17.834059  17.840703  17.687878  17.734390  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000174  18.006818  17.760968  17.787547  155400